<ion-content>
  <div class="myClass">
   
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-button class="image-icon"> <img src="../../../assets/Siri Images/VKF3.png" class="image-icon" /></ion-button>
  </ion-buttons>
  <ion-title class="title1">Notifications</ion-title>
  <ion-buttons slot="end">
  <ion-button><img src="../../../assets/Siri Images/Powerrb2.png" class="power" /></ion-button>
  </ion-buttons>
  </ion-toolbar>
    
  <div>
  <button class = "button icon ion-navicon"></button>
  <h7 class = "title">Cancelled Orders</h7>
  
  <div class="search-container">
  <ion-searchbar placeholder="Search" class="search"></ion-searchbar>
  </div>
  </div>
  
  <ion-card class="card">
  <ion-card-content>
      <ion-card-subtitle>12/07/2023</ion-card-subtitle>
      <div class="details">
          <div class="detail">
              <span class="label">Sub-Order ID:</span>
              <span class="value">1694-73-2015</span>
          </div>
          <div class="detail">
              <span class="label">Product:</span>
              <span class="value">Vivo Y70 Phone</span>
          </div>
          <div class="detail">
              <span class="label">Quantity Ordered:</span>
              <span class="value">1</span>
          </div>
          <div class="detail">
              <span class="label">Assignee Employee:</span>
              <span class="value">Vishal</span>
          </div>
      </div>
  </ion-card-content>
</ion-card>
    
<ion-card class="card">
  <ion-card-content>
      <ion-card-subtitle>12/07/2023</ion-card-subtitle>
      <div class="details">
          <div class="detail">
              <span class="label">Order ID:</span>
              <span class="value">19876</span>
          </div>
          <div class="detail">
              <span class="label">Product:</span>
              <span class="value">Vivo Y70 Phone</span>
          </div>
          <div class="detail">
              <span class="label">Quantity Ordered:</span>
              <span class="value">1</span>
          </div>
          <div class="detail">
              <span class="label">Cancelled by:</span>
              <span class="value">Customer</span>
          </div>
      </div>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-content>
      <ion-card-subtitle>12/07/2023</ion-card-subtitle>
      <div class="details">
          <div class="detail">
              <span class="label">Order ID:</span>
              <span class="value">19876</span>
          </div>
          <div class="detail">
              <span class="label">Product:</span>
              <span class="value">Vivo Y70 Phone</span>
          </div>
          <div class="detail">
              <span class="label">Quantity Ordered:</span>
              <span class="value">1</span>
          </div>
      </div>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-content>
      <ion-card-subtitle>12/07/2023</ion-card-subtitle>
      <div class="details">
          <div class="detail">
              <span class="label">Order ID:</span>
              <span class="value">19876</span>
          </div>
          <div class="detail">
              <span class="label">Product:</span>
              <span class="value">Vivo Y70 Phone</span>
          </div>
          <div class="detail">
              <span class="label">Quantity Ordered:</span>
              <span class="value">1</span>
          </div>
      </div>
  </ion-card-content>
</ion-card>
    <ion-tabs >
    <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
    <ion-label><ion-router-link routerLink="/accepted-orders">
    <img
    src="../../../assets/Siri Images/Profile.png"
    class="profile"
    />
  </ion-router-link>
  </ion-label>
  </ion-tab-button>
  
    <ion-tab-button tab="data-transfer">
    <ion-label><ion-router-link routerLink="/transfer-orders"><img
    src="../../../assets/Siri Images/data-transfer-iconrb.png"
    class="data-transfer"
    />
  </ion-router-link>
  </ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="home">
    <ion-label><img
    src="../../../assets/Siri Images/Homerb.png"
    class="home" /><ion-router-link routerLink="/new-orders">
  </ion-router-link>
  </ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="cancelled">
  <ion-label><ion-router-link routerLink="/cancelled-orders"><img
  src="../../../assets/Siri Images/Cancelledrb (2).png"
  class="cancelled" />
</ion-router-link>
</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="closed">
  <ion-label><ion-router-link routerLink="/closed-orders"><img
  src="../../../assets/Siri Images/Closedrb.png"
  class="closed" />
</ion-router-link>
</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
  </div>
  </ion-content>