<ion-content>
  <div class="myClass">
   
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-button class="image-icon"> <img src="../../../assets/Siri Images/VKF3.png" class="image-icon" /></ion-button>
  </ion-buttons>
  <ion-title class = "title">Transfer Order</ion-title>
  <ion-buttons slot="end">
    <div class="custom-button">
      <ion-icon name='power-outline' class="power-icon"></ion-icon>
    </div>
  </ion-buttons>
  </ion-toolbar>
  
  <div>
  <button class = "button icon ion-navicon"></button>
  
  <div class="search-container">
  <ion-searchbar placeholder="Search" class="search"></ion-searchbar>
  </div>
  </div>
  
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-button class="day"> Today </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
  </ion-buttons>
  </ion-toolbar>
  <ion-card class="card" *ngFor="let a of transferOrder let i = index">
  <ion-card-content>
      <ion-card-subtitle>{{a.orderDetails.orderDate}}</ion-card-subtitle>
      <div class="details">
          <div class="detail">
              <span class="label">Order ID:</span>
              <span class="value">{{a.otsOrderId}}</span>
          </div>
          <div class="detail">
              <span class="label">Product:</span>
              <span class="value">{{a.productName}}</span>
          </div>
          <div class="detail">
              <span class="label">Quantity Ordered:</span>
              <span class="value"> {{a.otsOrderedQty}}</span>
          </div>
          <div class="detail">
              <span class="label">Assignee Employee:</span>
              <span class="value"></span>
          </div>
      </div>
      <div class="button-container">
          <ion-button shape="round" class="tab">CLOSE</ion-button>
      </div>
  </ion-card-content>
</ion-card>
  
  

  </div>
  </ion-content>