<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="cart"></ion-icon>
      <ion-label>New-Order</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transfered-order">
      <ion-icon name="move"></ion-icon>
      <ion-label>Transfer-Order</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="accepted-orders">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label>Accept-Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="closed-orders">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>closed-Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cancelled-orders">
      <ion-icon name="logo-closed-captioning"></ion-icon>
      <ion-label>Cancelled-Order</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
