<ion-content>
  <div class="myClass">
   
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-button class="image-icon"> <img src="../../../assets/Siri Images/VKF3.png" class="image-icon" /></ion-button>
  </ion-buttons>
  <ion-title class="title1">Notifications</ion-title>
  <ion-buttons slot="end">
  <ion-button><img src="../../../assets/Siri Images/Powerrb2.png" class="power" /></ion-button>
  </ion-buttons>
  </ion-toolbar>
    
  <div>
  <button class = "button icon ion-navicon"></button>
  <h7 class = "title">Closed/ Delivered Orders</h7>
  
  <div class="search-container">
  <ion-searchbar placeholder="Search" class="search"></ion-searchbar>
  </div>
  </div>
  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="newclose" checked>
      <ion-label>Order</ion-label>
     
    </ion-segment-button>
    <ion-segment-button value="rrclose">
      <ion-label>RR Order</ion-label>
     
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'newclose'">
        <ion-card class="card" *ngFor="let cl of closedOrder let i = index">
            <ion-card-content >
                <ion-card-subtitle>12/07/2023</ion-card-subtitle>
                <div class="details">
                    <div class="detail">
                        <span class="label">Order ID:</span>
                        <span class="value">{{cl.otsOrderId}}</span>
                    </div>
                    <div class="detail">
                        <span class="label">Product:</span>
                        <span class="value">{{cl.productName}}</span>
                    </div>
                    <div class="detail">
                        <span class="label">Quantity Ordered:</span>
                        <span class="value">{{cl.otsOrderedQty}}</span>
                    </div>
                    <div class="detail">
                        <span class="label">Delivered Date:</span>
                        <span class="value">23-06-2023</span>
                    </div>
                </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
        <div [ngSwitch]="type">
            <ion-list *ngSwitchCase="'rrclose'">
                </ion-list>
                </div>
                </div>
 
  
  

  
  </div>
  </ion-content>