<ion-content>
<div class="myClass">
 
<ion-toolbar>
<ion-buttons slot="start">
<ion-button class="image-icon"> <img src="../../../assets/Siri Images/VKF3.png" class="image-icon" /></ion-button>
</ion-buttons>
<ion-title class="title1">Notifications</ion-title>
<ion-buttons slot="end">
<ion-button><img src="../../../assets/Siri Images/Powerrb2.png" class="power" /></ion-button>
</ion-buttons>
</ion-toolbar>
  
<div>
<button class = "button icon ion-navicon"></button>
<h7 class = "title">New Orders</h7>

<div class="search-container">
<ion-searchbar placeholder="Search" class="search"></ion-searchbar>
</div>
</div>

<ion-toolbar>
<ion-buttons slot="start">
<ion-button class="day"> Today </ion-button>
</ion-buttons>
<ion-buttons slot="end">
<ion-toggle labelPlacement="start"></ion-toggle>
<ion-title class="status">UnRead</ion-title>
</ion-buttons>
</ion-toolbar>

<ion-card class="card">
  <ion-card-content>
      <ion-card-subtitle>12/07/2023</ion-card-subtitle>
      <div class="details">
          <div class="detail">
              <span class="label">Order ID:</span>
              <span class="value">19876</span>
          </div>
          <div class="detail">
              <span class="label">Product:</span>
              <span class="value">Vivo Y70 Phone</span>
          </div>
          <div class="detail">
              <span class="label">Quantity Ordered:</span>
              <span class="value">1</span>
          </div>
      </div>
      <div class="button-container">
        <ion-button shape="round" class="tab">ASSIGN</ion-button>
        <ion-button shape="round" class="tab">CANCEL</ion-button>
      </div>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-content>
      <ion-card-subtitle>12/07/2023</ion-card-subtitle>
      <div class="details">
          <div class="detail">
              <span class="label">Order ID:</span>
              <span class="value">19876</span>
          </div>
          <div class="detail">
              <span class="label">Product:</span>
              <span class="value">Vivo Y70 Phone</span>
          </div>
          <div class="detail">
              <span class="label">Quantity Ordered:</span>
              <span class="value">1</span>
          </div>
      </div>
      <div class="button-container">
        <ion-button shape="round" class="tab">ASSIGN</ion-button>
        <ion-button shape="round" class="tab">CANCEL</ion-button>
      </div>
  </ion-card-content>
</ion-card>


</div>
</ion-content>